@font-face {
    font-family: Lato;
    src: url('Lato-Regular.ttf'),
}

#your-time {
    font-family: Lato, sans-serif;
}

/* ERROR START */
#your-time #your-time-error {
    border-left-style: solid;
    margin-top: 5px;
    border-left-color: #bd0f02;
    background-color: #ffd2cc;
}

#your-time #your-time-error .main-text {
    padding: 10px;
    font-weight: 500;
    font-size: 2rem;
}

#your-time #your-time-error .secondary-text {
    font-weight: 100;
    text-decoration: transparent;
    color: hsl(206.1, 79.3%, 52.7%);
}

#your-time #your-time-error .secondary-text:hover {
    color: #333333;
}

#your-time #your-time-error .secondary-text:visited {
    color: hsl(206.1, 79.3%, 52.7%);
}
/* ERROR END */
/* MAIN START */

#your-time .submission {
    max-height: 25px;
    min-height: 25px;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #CBCBCB;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #353535;
    border-width: 2px;
}

#your-time .submission .votes {
    width: 5%;
    text-align: center;
    padding: 5px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #4f4f4f;
}

#your-time .submission .votes .upvote {
    float: left;
    max-width: 15px;
}

#your-time .submission .votes .number {
    font-size: 14px;
}

#your-time .submission .votes .downvote {
    float: right;
    max-width: 15px;
}

#your-time .submission .seconds {
    width: 15%;
    color: #4B93E8;
    text-decoration: none;
    font-size: large;
    white-space: nowrap;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #4f4f4f;
}

#your-time .submission .comment {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
    -o-text-overflow: ellipsis;
    /** Opera 9 & 10 **/
    width: 80%;
    padding-left: 5px;
    text-align: left;
}
